* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:hover {
	text-decoration: none !important;
}

body {
	position: relative;
	background-color: rgb(243, 241, 241);
	min-height: 100vh;
	padding-bottom: 100px;
	color: #333;
}

.container {
	position: relative;
}

.page-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 2rem;
}

.card-deck {
	margin-bottom: 100px;
	justify-content: center;
}

.card-body {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.album,
.artist {
	min-width: unset !important;
	flex: 0 1 200px !important;
	margin: 10px 10px !important;
}

.album-detail,
.artist-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.album-solo,
.artist-solo {
	width: 40%;
}

.album-detail .detail,
.artist-detail .detail {
	max-width: 40%;
}

.album-detail .detail .tracks {
	text-decoration: none;
	list-style: none;
	margin-left: 5px;
}

.album-detail .detail .tracks .track-id {
	display: inline-block;
	text-align: right;
	width: 15px;
	color: #999;
	margin-right: 10px;
}

.album-detail .detail .property,
.artist-detail .detail .property {
	display: flex;
	align-items: center;
	color: #333;
}

.album-detail .detail .property:not(:last-child),
.artist-detail .detail .property:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.album-detail .detail .property-name,
.artist-detail .detail .property-name {
	font-size: 1.75rem;
	font-weight: bold;
}

.album-detail .detail .property-value,
.artist-detail .detail .property-value {
	font-size: 1.2rem;
	margin-bottom: -3px;
	margin-left: 20px;
}

.genres {
	font-size: 1rem !important;
}

.search-form {
	position: relative;
}

.search-results {
	position: absolute;
	z-index: 99;
	top: 38px;
	left: 5px;
	right: 90px;
	background-color: #eee;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.search-results ul {
	margin: 0;
	list-style: none;
}

.search-results ul li {
	padding: 8px;
	font-size: 0.8rem !important;
}

.search-results ul li a {
	display: flex;
	align-items: center;
}

.search-results ul li:hover {
	background-color: #ddd;
}

.thumbnail {
	width: 35px;
	margin-right: 5px;
}

.backButton {
	position: absolute;
	left: 10px;
	top: 7px;
	background-color: white !important;
	border-color: transparent !important;
	border: 1px solid #333 !important;
	border-radius: 3px !important;
	color: #333 !important;
	transition: all 0.6s ease;
}
.backButton:hover {
	background-color: #333 !important;
	color: white !important;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	position: absolute;
	height: 75px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #343a40;
	text-align: center;
	line-height: 75px;
	color: white;
}
